.dabl{
  background-color:#0B73A8
}
.libl{
  background-color:#7a34eb
}
.ligr{
  background-color:#34d6eb
}
.ye{
  background-color:#f5fc23
}
.lire{
background-color:#de7359
}
.pu{
  background-color:#b54ede
}
.gr{
  background-color:#29cf32
}
.go{
background-color:#b8870b
}
.re{
  background-color:#bd0808
}
